In [1]:
import os
import json
import pandas as pd
import psycopg2

## Connecting to Postgres database

In [2]:
db_1=psycopg2.connect(host='localhost',
                        user='postgres',
                        password='@122Madras',
                        database='Phonepe',
                        port= '5432')
cursor = db_1.cursor()

## Aggregated Transaction

In [4]:
# Aggregated Transaction

path1= "D:/Data science/Project/PhonePe/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_list = os.listdir(path1)

table_1= {'States':[], 'Year':[], 'Quarter':[],"Transaction_name":[],"Transaction_count":[], 'Transaction_amount': []}

for states in agg_trans_list:
    current_state = path1+states+'/'

    #os.listdir() method in python is used to get the list of all files and directories in the specified directory.
    
    year_list = os.listdir(current_state)

    for year in year_list:
        current_year = current_state+year+'/'
        agg_trans_file_list = os.listdir(current_year)

        for file in agg_trans_file_list:
            current_file= current_year+file
            current_file_data=open(current_file)
            
            data1=json.load(current_file_data)

            for i in data1['data']['transactionData']:
                name=i['name']
                count=i['paymentInstruments'][0]['count']
                amount=i['paymentInstruments'][0]['amount']
                table_1['Transaction_name'].append(name)
                table_1['Transaction_count'].append(count)
                table_1['Transaction_amount'].append(amount)
                table_1['States'].append(states)
                table_1['Year'].append(year)
                table_1['Quarter'].append(file.strip('.json'))

aggre_trans_data=pd.DataFrame(table_1)


aggre_trans_data["States"] = aggre_trans_data["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_trans_data["States"] = aggre_trans_data["States"].str.replace("-"," ")
aggre_trans_data["States"] = aggre_trans_data["States"].str.title()
aggre_trans_data['States'] = aggre_trans_data['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

# Creating Table in SQL

drop_query= '''DROP TABLE IF EXISTS aggre_trans_table'''
cursor.execute(drop_query)
db_1.commit()



query= '''CREATE TABLE IF NOT EXISTS aggre_trans_table(States VARCHAR(100),
                                                      Year INT, 
                                                      Quarter  INT,
                                                      Transaction_name VARCHAR(100),
                                                      Transaction_count bigint,
                                                      Transaction_amount bigint
                                                        )'''

cursor.execute(query)
db_1.commit()


for index,row in aggre_trans_data.iterrows():

    query= '''INSERT INTO aggre_trans_table (States,
                                            Year, 
                                            Quarter,
                                            Transaction_name,
                                            Transaction_count,
                                            Transaction_amount 
                                            )
                                            
                                            VALUES(%s,%s,%s,%s,%s,%s)''' 
    value=(row['States'],
           row['Year'],
           row['Quarter'],
           row['Transaction_name'],
           row['Transaction_count'],
           row['Transaction_amount']
           )
    
    cursor.execute(query,value)
    db_1.commit()

## Aggregated User

In [4]:
# Aggregated User

path2= "D:/Data science/Project/PhonePe/pulse/data/aggregated/user/country/india/state/"

agg_user_list = os.listdir(path2)

table_2= {'States':[], 'Year':[], 'Quarter':[],"Mobile_brand_name":[],"Transaction_count":[]}

for states in agg_user_list:
    current_state = path2+states+'/'

    #os.listdir() method in python is used to get the list of all files and directories in the specified directory.

    year_list = os.listdir(current_state)

    for year in year_list:
        current_year = current_state+year+'/'
        agg_user_file_list = os.listdir(current_year)

        for file in agg_user_file_list:
            current_file= current_year+file
            current_file_data=open(current_file)
            
            data2=json.load(current_file_data)

            try:

                for i in data2['data']['usersByDevice']:
                    name=i['brand']
                    count=i['count']
                    table_2['Mobile_brand_name'].append(name)
                    table_2['Transaction_count'].append(count)
                    table_2['States'].append(states)
                    table_2['Year'].append(year)
                    table_2['Quarter'].append(file.strip('.json'))
            
    
            except:
                pass

aggre_user_data = pd.DataFrame(table_2)

aggre_user_data["States"] = aggre_user_data["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_user_data["States"] = aggre_user_data["States"].str.replace("-"," ")
aggre_user_data["States"] = aggre_user_data["States"].str.title()
aggre_user_data['States'] = aggre_user_data['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

# Creating Table in SQL

drop_query= '''DROP TABLE IF EXISTS aggre_user_table'''
cursor.execute(drop_query)
db_1.commit()


query= '''CREATE TABLE IF NOT EXISTS aggre_user_table(States VARCHAR(100),
                                                      Year INT, 
                                                      Quarter  INT,
                                                      Mobile_brand_name VARCHAR(50),
                                                      Transaction_count bigint
                                                        )'''

cursor.execute(query)
db_1.commit()


for index,row in aggre_user_data.iterrows():

    query= '''INSERT INTO aggre_user_table (States,
                                            Year, 
                                            Quarter,
                                            Mobile_brand_name,
                                            Transaction_count 
                                            )
                                            
                                            VALUES(%s,%s,%s,%s,%s)''' 
    value=(row['States'],
           row['Year'],
           row['Quarter'],
           row['Mobile_brand_name'],
           row['Transaction_count'])
    
    cursor.execute(query,value)
    db_1.commit()

## Map Transaction

In [6]:
# Map Transaction

path3= "D:/Data science/Project/PhonePe/pulse/data/map/transaction/hover/country/india/state/"

map_trans_list = os.listdir(path3)

table_3= {'States':[], 'Year':[], 'Quarter':[],"District":[],"Transaction_count":[],'Transaction_amount': []}

for states in map_trans_list:
    current_state = path3+states+'/'

    #os.listdir() method in python is used to get the list of all files and directories in the specified directory.
    
    year_list = os.listdir(current_state)

    for year in year_list:
        current_year = current_state+year+'/'
        map_trans_file_list = os.listdir(current_year)

        for file in map_trans_file_list:
            current_file= current_year+file
            current_file_data=open(current_file)
            
            data3=json.load(current_file_data)

            for i in data3['data']['hoverDataList']:
                name = i['name']
                count = i['metric'][0]['count']
                amount = i['metric'][0]['amount']
                table_3['District'].append(name)
                table_3['Transaction_count'].append(count)
                table_3['Transaction_amount'].append(amount)
                table_3['States'].append(states)
                table_3['Year'].append(year)
                table_3['Quarter'].append(file.strip('.json'))

            

map_trans_data = pd.DataFrame(table_3)

map_trans_data["States"] = map_trans_data["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_trans_data["States"] = map_trans_data["States"].str.replace("-"," ")
map_trans_data["States"] = map_trans_data["States"].str.title()
map_trans_data['States'] = map_trans_data['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

# Creating table in SQL

db_1=psycopg2.connect(host='localhost',
                        user='postgres',
                        password='@122Madras',
                        database='Phonepe',
                        port= '5432')
cursor = db_1.cursor()

drop_query= '''DROP TABLE IF EXISTS map_trans_table'''
cursor.execute(drop_query)
db_1.commit()



query= '''CREATE TABLE IF NOT EXISTS map_trans_table(States VARCHAR(100),
                                                      Year INT, 
                                                      Quarter  INT,
                                                      District VARCHAR(50),
                                                      Transaction_count bigint,
                                                      Transaction_amount bigint
                                                        )'''

cursor.execute(query)
db_1.commit()


for index,row in map_trans_data.iterrows():

    query= '''INSERT INTO map_trans_table (States,
                                            Year, 
                                            Quarter,
                                            District,
                                            Transaction_count,
                                            Transaction_amount 
                                            )
                                            
                                            VALUES(%s,%s,%s,%s,%s,%s)''' 
    value=(row['States'],
           row['Year'],
           row['Quarter'],
           row['District'],
           row['Transaction_count'],
           row['Transaction_amount'])
    
    cursor.execute(query,value)
    db_1.commit()

## Map User

In [8]:
# Map User

path4= "D:/Data science/Project/PhonePe/pulse/data/map/user/hover/country/india/state/"

map_user_list = os.listdir(path4)

table_4= {'States':[], 'Year':[], 'Quarter':[],"District":[],"Registered_Users":[],'App_Opens': []}

for states in map_user_list:
    current_state = path4+states+'/'
    year_list = os.listdir(current_state)

    for year in year_list:
        current_year= current_state+year+'/'
        map_user_file_list = os.listdir(current_year)

        for file in map_user_file_list:
            current_file = current_year+file
            current_file_data=open(current_file)

            data4= json.load(current_file_data)

            for i in data4['data']['hoverData'].items():
                district=i[0]
                registered_Users= i[1]['registeredUsers']
                app_Opens= i[1]['appOpens']
                table_4['States'].append(states)
                table_4['Year'].append(year)
                table_4['Quarter'].append(file.strip('.json'))
                table_4['District'].append(district)
                table_4['Registered_Users'].append(registered_Users)
                table_4['App_Opens'].append(app_Opens)
                

        
map_user_data = pd.DataFrame(table_4)

map_user_data["States"] = map_user_data["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user_data["States"] = map_user_data["States"].str.replace("-"," ")
map_user_data["States"] = map_user_data["States"].str.title()
map_user_data['States'] = map_user_data['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

# Creating table in SQL
                
drop_query = '''DROP TABLE IF EXISTS map_user_table'''

cursor.execute(drop_query)
db_1.commit()


query = ''' CREATE TABLE IF NOT EXISTS map_user_table(States  VARCHAR(50),
                                                      Year    INT,
                                                      Quarter INT,
                                                      District VARCHAR(100),
                                                      Registered_Users BIGINT,
                                                      App_Opens BIGINT
                                                      )'''
cursor.execute(query)
db_1.commit()


for index,row in map_user_data.iterrows():

    query = '''INSERT INTO map_user_table(States,
                                          Year,
                                          Quarter,
                                          District,
                                          Registered_Users,
                                          App_Opens)
                                          
                                          VALUES(%s,%s,%s,%s,%s,%s)'''
    
    value= (row['States'],row['Year'],row['Quarter'],row['District'],row['Registered_Users'],row['App_Opens'])

    cursor.execute(query,value)
    db_1.commit()

## Top Transaction

In [9]:
path5= 'D:/Data science/Project/PhonePe/pulse/data/top/transaction/country/india/state/'

top_trans_list = os.listdir(path5)

table_5= {'States':[], 'Year':[], 'Quarter':[],"Pin_code":[],"Transaction_count":[],'Transaction_amount': []}

for state in top_trans_list:
    current_state= path5+state+'/'
    year_list=os.listdir(current_state)

    for year in year_list:
        current_year = current_state+year+'/'
        top_trans_file_list= os.listdir(current_year)

        for file in top_trans_file_list:
            current_file = current_year+file
            current_file_data = open(current_file)

            data6=json.load(current_file_data)

            for i in data6['data']['pincodes']:
                pin=i['entityName']
                count=i['metric']['count']
                amount=i['metric']['amount']
                table_5['States'].append(state)
                table_5['Year'].append(year)
                table_5['Quarter'].append(file.strip('.json'))
                table_5['Pin_code'].append(pin)
                table_5['Transaction_count'].append(count)
                table_5['Transaction_amount'].append(amount)

top_trans_data= pd.DataFrame(table_5)           

top_trans_data["States"] = top_trans_data["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_trans_data["States"] = top_trans_data["States"].str.replace("-"," ")
top_trans_data["States"] = top_trans_data["States"].str.title()
top_trans_data['States'] = top_trans_data['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

# Creating table in SQL

drop_query= '''DROP TABLE IF EXISTS top_trans_table'''
cursor.execute(drop_query)
db_1.commit()



query= '''CREATE TABLE IF NOT EXISTS top_trans_table(States VARCHAR(100),
                                                      Year INT, 
                                                      Quarter  INT,
                                                      Pin_code INT,
                                                      Transaction_count bigint,
                                                      Transaction_amount bigint
                                                        )'''

cursor.execute(query)
db_1.commit()


for index,row in top_trans_data.iterrows():

    query= '''INSERT INTO top_trans_table (States,
                                            Year, 
                                            Quarter,
                                            Pin_code,
                                            Transaction_count,
                                            Transaction_amount 
                                            )
                                            
                                            VALUES(%s,%s,%s,%s,%s,%s)''' 
    value=(row['States'],
           row['Year'],
           row['Quarter'],
           row['Pin_code'],
           row['Transaction_count'],
           row['Transaction_amount'])
    
    cursor.execute(query,value)
    db_1.commit()

## Top User

In [7]:
path6= "D:/Data science/Project/PhonePe/pulse/data/top/user/country/india/state/"

top_user_list = os.listdir(path6)

table_6= {'States':[], 'Year':[], 'Quarter':[],"Pin_code":[],"Registered_Users":[]}

for states in top_user_list:
    current_state = path6+states+'/'
    year_list = os.listdir(current_state)

    for year in year_list:
        current_year= current_state+year+'/'
        map_user_file_list = os.listdir(current_year)

        for file in map_user_file_list:
            current_file = current_year+file
            current_file_data=open(current_file)

            data6= json.load(current_file_data)

            for i in data6['data']['pincodes']:
                pin=i['name']
                registered_Users= i['registeredUsers']
                table_6['States'].append(states)
                table_6['Year'].append(year)
                table_6['Quarter'].append(file.strip('.json'))
                table_6['Pin_code'].append(pin)
                table_6['Registered_Users'].append(registered_Users)
                

        
top_user_data = pd.DataFrame(table_6)

top_user_data["States"] = top_user_data["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_user_data["States"] = top_user_data["States"].str.replace("-"," ")
top_user_data["States"] = top_user_data["States"].str.title()
top_user_data['States'] = top_user_data['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

# Creating table in SQL

drop_query = '''DROP TABLE IF EXISTS top_user_table'''

cursor.execute(drop_query)
db_1.commit()


query = ''' CREATE TABLE IF NOT EXISTS top_user_table(States  VARCHAR(50),
                                                      Year    INT,
                                                      Quarter INT,
                                                      Pin_code INT,
                                                      Registered_Users BIGINT
                                                      )'''
cursor.execute(query)
db_1.commit()


for index,row in top_user_data.iterrows():

    query = '''INSERT INTO top_user_table(States,
                                          Year,
                                          Quarter,
                                          Pin_code,
                                          Registered_Users)
                                          
                                          VALUES(%s,%s,%s,%s,%s)'''
    
    value= (row['States'],row['Year'],row['Quarter'],row['Pin_code'],row['Registered_Users'])

    cursor.execute(query,value)
    db_1.commit()